{% extends 'base.html' %}

{% load widget_tweaks %}

{% load staticfiles %}

{% block header %}

<div class="page-header">
    <h2>New question</h2>
</div>

{% endblock %}

{% block body %}

<form action="" method="post">
    {% csrf_token %}

    {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}

    <div class="form-group">
        <label for="Title">Title</label>
        {# <textarea class="form-control" id="Title" rows="1"></textarea> #}
        {{ form.title|add_class:"form-control"|attr:"rows:1"|attr:"id:Title" }}
    </div>
    <div class="form-group">
        <label for="Content">Text</label>
        {# <textarea class="form-control" id="Content" rows="3"></textarea> #}
        {{ form.content|add_class:"form-control"|attr:"rows:3"|attr:"id:Content" }}
    </div>
    <div class="form-group">
        <label for="Tags">Tags</label>
        {# <textarea class="form-control" id="Tags" rows="1"></textarea> #}
        {{ form.tags|add_class:"form-control"|attr:"rows:1"|attr:"id:Tags" }}
    </div>
    <button type="submit" class="btn btn-success">Ask!</button>
</form>

{% endblock %}