{% extends 'base.html' %}

{% load staticfiles %}

{% block header %}

<div class="page-header">
    <h2>New question</h2>
</div>

{% endblock %}

{% block body %}

<form>
    <div class="form-group">
        <label for="Title">Title</label>
        <textarea class="form-control" id="Title" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="Text">Text</label>
        <textarea class="form-control" id="Text" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="Tags">Tags</label>
        <textarea class="form-control" id="Tags" rows="1"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Ask!</button>
</form>

{% endblock %}