{% extends 'base.html' %}

{% load staticfiles %}

{% block header %}

<div class="page-header">
    {% if by_tag %}
    <h2>
        Tag: {{ by_tag }}
        <a href="{% url 'index' %}">
            <small>New questions</small>
        </a>
        <a href="{% url 'index' %}?by_rating=1">
            <small>Hot questions</small>
        </a>
    </h2>
    {% elif by_rating %}
    <h2>
        Hot questions
        <a href="{% url 'index' %}">
            <small>New questions</small>
        </a>
    </h2>
    {% else %}
    <h2>
        New questions
        <a href="{% url 'index' %}?by_rating=1">
            <small>Hot questions</small>
        </a>
    </h2>
    {% endif %}
</div>

{% endblock %}

{% block body %}

{% for question in page_obj %}
<div class="row">
    <div class="col-md-2">
        <a href="{{ question.author.get_absolute_url }}">
            <div class="thumbnail">
                {% if question.author.avatar %}
                <img src="{{ question.author.avatar.url }}">
                {% else %}
                <img src="{% static 'img/quest.png' %}">
                {% endif %}
                <div class="caption" align="center">
                    <b>{{ question.author.username }}</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-10">
        <div class="thumbnail">
            <div class="caption">
                <h3><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></h3>

                <p>
                    <span class="glyphicon glyphicon-tags"></span>
                    {% for tag in question.tags.all %}
                    <a href="{% url 'index' %}?by_tag={{ tag.title }}">{{ tag.title }}</a>
                    {% endfor %}
                </p>

                <p>{{ question.content }}</p>

                <p>
                    <a href="{{ question.get_absolute_url }}" class="btn btn-primary">
                        {# <span class="glyphicon glyphicon-pencil"></span> #}
                        Answers
                        <span class="badge">{{ question.responses.count }}</span>
                    </a>

                    <button data-question-id="{{ question.id }}" class="like_question btn btn-success" type="button">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="question-rating badge" data-question-id="{{ question.id }}">
                            {{ question.q_likes.count }}
                        </span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if page_obj.has_other_pages %}
<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li>
            <a href="{% url 'index' %}?by_rating={{ by_rating }}&by_tag={{ by_tag }}&page={{ page_obj.previous_page_number }}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
        <li class="{% if p == page_obj.number %}active{% endif %}"><a
                href="{% url 'index' %}?by_rating={{ by_rating }}&by_tag={{ by_tag }}&page={{ p }}">{{ p }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a href="{% url 'index' %}?by_rating={{ by_rating }}&by_tag={{ by_tag }}&page={{ page_obj.next_page_number }}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{% endblock %}