{% extends 'base.html' %}

{% load widget_tweaks %}

{% load staticfiles %}

{% block header %}

<div class="page-header">
    <h2>
        Question View
    </h2>
</div>

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-2">
        <a href="{{ question.author.get_absolute_url }}">
            <div class="thumbnail">
                {% if question.author.avatar %}
                <img src="{{ question.author.avatar.url }}">
                {% else %}
                <img src="{% static 'img/quest.png' %}">
                {% endif %}
                <div class="caption" align="center">
                    <b>{{ question.author.username }}</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-10">
        <div class="thumbnail">
            <div class="caption">
                <h3><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></h3>

                <p>
                    <b>Tags:</b>
                    {% for tag in question.tags.all %}
                    <a href="{% url 'index' %}?by_tag={{ tag.title }}">{{ tag.title }}</a>
                    {% endfor %}
                </p>

                <p>{{ question.content }}</p>

                <p>
                    {% if 1 %}<!--user.is_authenticated %}-->
                    <a href="#" class="btn btn-success" role="button">Like <span class="badge">{{ question.q_likes.count }}</span></a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

{% for answer in page_obj %}
<div class="row">
    <div class="col-md-2">
        <a href="{{ answer.author.get_absolute_url }}">
            <div class="thumbnail">
                {% if answer.author.avatar %}
                <img src="{{ answer.author.avatar.url }}">
                {% else %}
                <img src="{% static 'img/quest.png' %}">
                {% endif %}
                <div class="caption" align="center">
                    <b>{{ answer.author.username }}</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-md-10">
        <div class="thumbnail">
            <div class="caption">
                <p>{{ answer.content }}</p>

                <p>
                    {% if 1 %}<!--user.is_authenticated %}-->
                    <a href="#" class="btn btn-success" role="button">Like <span class="badge">{{ answer.r_likes.count }}</span></a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-2">
        {% if user.is_authenticated %}
        <a href="{{ user.get_absolute_url }}">
            <div class="thumbnail">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}">
                {% else %}
                <img src="{% static 'img/quest.png' %}">
                {% endif %}
                <div class="caption" align="center">
                    <b>{{ user.username }}</b>
                </div>
            </div>
        </a>
        {% endif %}
    </div>
    <div class="col-sm-6 col-md-10">
        <div class="thumbnail">
            <div class="caption">
                <form action="" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <h3><label for="Answer">Write answer:</label></h3>
                        {# <textarea class="form-control" id="Answer" rows="2"></textarea> #}
                        {{ form.content|add_class:"form-control"|attr:"rows:2"|attr:"id:Answer" }}
                    </div>
                    <button type="submit" class="btn btn-success">Answer!</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}